{% extends 'admin_homepage.html.twig' %}

{% block title %}
Competition informations management
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ flashMessage|raw }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}


<h1> Modify the Competition Informations </h1>

<!-- Rendering of the form for the competition modification -->
{{form_start(form)}}

<h4> Global Informations </h4>
{{ form_row(form.inscriptionStartDate) }}
{{ form_row(form.inscriptionEndDate) }}
{{ form_row(form.competitionStartDate) }}
{{ form_row(form.competitionEndDate) }}

<h4> Individual Informations </h4>

{{ form_row(form.individualDate) }}
{{ form_row(form.individualLocation) }}

{{ form_row(form.send)}}
{{form_end(form)}}

{% endblock %}
