{% extends 'admin_homepage.html.twig' %}

{% block title %}
  Page de règlement
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ flashMessage|raw }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}

<h1> Modification du règlement </h1>

<!-- Start of the regulation modification form -->
{{ form_start(form) }}

{{form_row(form.regulationYear)}}

<h2>Éléments</h2>

<!-- Wrapper to dinamically add and remove items -->
<!-- If you want to see the functionning of dynamic add and remove check the admin.js or browse the Symfony documentation on CollectionType -->
 <div class="js-regulation-items-wrapper"
    data-prototype=" {{ form_widget(form.items.vars.prototype)|e('html_attr') }}"
    data-index="{{ form.items|length }}">

   {% for item in form.items %}
     <div class="row js-regulation-items-item">
       <div class="col-md-11">
         {{ form_row(item.regulation) }}
       </div>
       <div class="col-md-1">
         <a href='' class='js-remove-regulation-item'> <i class="far fa-trash-alt"></i></a>
       </div>
    </div>
   {% endfor %}

   <a href="" class="js-regulation-items-add">
            <span class="fa fa-plus-circle"></span>
            Ajouter un élément
  </a>
 </div>

{{ form_end(form) }}

{% endblock %}
