{% extends 'admin_homepage.html.twig' %}

{% block title %}
  Page de modification du quiz {{ quiz.id}}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ flashMessage|raw }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}


{% set school = "" %}
{% if quiz.school == 1 %}
  {% set school = "Primaire" %}
{% else %}
  {% set school = "Secondaire" %}
{% endif %}


<h1> Page de modification pour le quiz pour les {{ difficulty[quiz.difficulty]}} de {{school}} de l'année {{ quiz.yearOfQuiz }}</h1>
<div class="row quiz-infos">
  <div class="col-sm-6">
    <a href=" {{ asset("uploads/previous_quiz/" ~ bname) }}"> <button type="button" class="btn btn-light"> Voir le fichier </button> </a>
  </div>
  <div class="col-sm-6">
     <a href=" {{ path('admin_quiz_delete', {'id': quiz.id}) }} "> <button type="button" class="btn btn-danger"> Supprimer le fichier </button> </a>
  </div>
</div>

{{form(form)}}

{% endblock %}
