{% extends 'admin_homepage.html.twig' %}

{% block title %}
  Page de choix du formulaire d'entrainement
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ flashMessage|raw }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}

<h1>Choix du quiz d'entrainement à modifier</h1>

<h3>École primaire</h3>
<div class="d-flex" role="group" aria-label="Primary Traning Choice">
  {% for quiz in primary_quiz %}
      <a href={{ path('admin_training', {'id': quiz.id}) }} class="btn btn-secondary w-100 training-choice-btn">Modifier l'entrainement du niveau {{ difficulty[quiz.difficulty-1] }}</a>
  {% endfor %}
</div>

<h3>École Secondaire</h3>
<div class="d-flex" role="group" aria-label="Secondary Traning Choice">
  {% for quiz in secondary_quiz %}
      <a href={{ path('admin_training', {'id': quiz.id}) }} class="btn btn-secondary w-100 training-choice-btn">Modifier l'entrainement du niveau {{ difficulty[quiz.difficulty-1] }}</a>
  {% endfor %}
</div>

<h1> Ajouter un quiz </h1>

<!-- Button to create a new quiz -->
<a href={{ path('admin_new_training') }} class="btn btn-success">Ajouter un quiz</a>

{% endblock %}
