{% extends 'admin_homepage.html.twig' %}

{% block title %}
  Page d'informations
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ flashMessage|raw }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}

<h1>Modification of the about us section</h1>


{{ form_start(form) }}

  <!-- Wrapper to dinamically add and remove items -->
  <!-- If you want to see the functionning of dynamic add and remove check the admin.js or browse the Symfony documentation on CollectionType -->
 <div class="js-informations-items-wrapper"
    data-prototype=" {{ form_widget(form.items.vars.prototype)|e('html_attr') }}"
    data-index="{{ form.items|length }}">

   {% for item in form.items %}
     <div class="row js-informations-items-item">
       <div class="col-md-11">
         {{ form_row(item.title) }}
         {{ form_row(item.content) }}
       </div>
       <div class="col-md-1">
         <a href='' class='js-remove-informations-item'> <i class="far fa-trash-alt"></i></a>
       </div>
    </div>
   {% endfor %}

   <a href="" class="js-informations-items-add">
            <span class="fa fa-plus-circle"></span>
            Add Another Information Item
  </a>
 </div>

{{ form_end(form) }}


{% endblock %}
