{% extends 'admin_homepage.html.twig' %}

{% block title %}
  Page de modification de l'image {{ image.id}}
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ flashMessage|raw }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}

<h1> Modification page for the image below </h1>


<div class="row quiz-infos">
  <div class="col-sm-6">
    <!-- Image print -->
    <img src="{{ asset("uploads/gallery_images/") ~ bname}}" />
  </div>
  <div class="col-sm-6">
      <!-- Button linking to the delete method of the controller -->
     <a href=" {{ path('admin_gallery_image_delete', {'id': image.id}) }} "> <button type="button" class="btn btn-danger"> Delete the image </button> </a>
  </div>
</div>

{{form(form)}}

{% endblock %}
