<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Bienvenue{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- stylesheets -->
    <link rel="stylesheet" href="{{ asset('build/app.css') }}" />
    {% block stylesheets %}
    {% endblock %}
   <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />
  </head>

  <body class="d-flex flex-column">
    <div id="banner" style="cursor: pointer;" onclick="window.location='{{ path('homepage') }}';"></div>

    <!-- body -->
    <div class="container" id="container-main">
      <!-- Menu -->
      <div class="btn-group d-flex" role="group" aria-label="Top Menu">
        {% block topmenu %}
        {% endblock %}
      </div>
      <div class="btn-group d-flex mobile-menu-row" role="group" aria-label="Mobile second row">

      </div>


        {% block body %}
        {% endblock %}

    </div>

    <!-- footer -->
    <div id="flex-grow"></div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-12 item links">
            <h3>Contact</h3>
            <ul>
              <li>
                <span>
                  <i class="fas fa-at"></i>
                  <a href="mailto:brussel@fedactio.be?Subject=Pangea%20Math%20Quiz" target="_top">brussel@fedactio.be</a>
                </span>
              </li>
              <li>
                <span>
                  <i class="fas fa-phone"></i>
                  <a href="tel:+32-2-212-19-09"> +32 2 212 19 09 </a>
                </span>
              </li>
            </ul>
          </div>

          <div class="col-md-4 col-sm-6 col-12 item links">
            <h3>Accès rapide</h3>
            <ul>
      				<li>
                <span>
                  <i class="fas fa-chevron-right"></i>
                  <a href={{ path('homepage') }}>Retour à l'accueil</a>
                </span>
              </li>
      				<li>
                <span>
                  <i class="fas fa-chevron-right"></i>
                  <a href="{{path("aboutus")}}">Informations</a>
                </span>
              </li>
              <li>
                <span>
                  <i class="fas fa-chevron-right"></i>
                  <a href="{{path("enroll")}}">S'insrire au concours</a>
                </span>
              </li>
      			</ul>
          </div>

          <div class="col-md-4 col-sm-12 col-12 item logo">
            <h3> Organisateurs </h3>
            <div class="d-flex" role="group" aria-label="Organisateurs">
              <img class="w-100 foot-logo" src="{{ asset('img/Logo_white.png') }}" alt="Fedactio Logo" />
              <img class="w-100 foot-logo" src="{{ asset('img/Francolympiades-transparent.png') }}" alt="Logo Francolympiades" />
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- scripts -->
    <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="{{ asset('build/app.js') }}"></script>
    {% block javascripts %}
    {% endblock %}

  </body>
</html>
