{% extends 'base.html.twig' %}

{% block title %}
  Page d'accueil
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('build/public.css') }}" />
{% endblock %}

{% block topmenu %}
<!-- Top menu for the public -->
<!-- Test if the page is active to set the button correclty -->
  {% set route = app.request.attributes.get("_route") %}
  <a href={{ path('homepage') }} class="btn btn-primary {% if 'homepage' == route %} active {% endif %} w-100"> <i class="fas fa-home"></i> Accueil</a>
  <a href={{ path('aboutus') }} class="btn btn-primary {% if 'aboutus' == route %} active {% endif %} w-100">À propos</a>
  <a href={{ path('regulation') }} class="btn btn-primary {% if 'regulation' == route %} active {% endif %} w-100">Règlement</a>

  <button type="button" class="btn btn-primary dropdown-toggle {% if 'gallery' == route %} active {% endif %} w-100 mobile-menu-change" data-toggle="dropdown">
     Galleries
  </button>
  <div class="dropdown-menu mobile-menu-change">
    <a class="dropdown-item" href={{ path('img_gallery') }}>Gallerie d'images</a>
    <a class="dropdown-item" href={{ path('quiz_gallery') }}>Quizs précédents</a>
  </div>
  <a href={{ path('training_choice') }} class="btn btn-primary {% if 'training_choice' == route %} active {% endif %} w-100 mobile-menu-change">S'entraîner</a>
{% endblock %}

{% block body %}
<img class="d-block w-100" src="{{ asset("img/banner_homepage.png") }}" alt="Homepage Banner" />

<h3> Les dates importantes </h3>
<div class="row">
  <div class="col">
    <ul>
      <li> Inscription: du {{ inscriptionStartDate }} au {{ inscriptionEndDate }} </li>
      <li> Date de la compétition individuelle: {{ indivD }} </li>
      <li> Emplacement de la compétition individuelle: {{ competition.individualLocation }} </li>
    </ul>
  </div>
  <div class="col">
    {% if (date(competition.inscriptionStartDate) <= date()) and (date() <= date(competition.inscriptionEndDate)) %}
      <a href=" {{ path("enroll") }} " class="btn btn-secondary"> S'inscrire (jusqu'au {{inscriptionEndDate}} )</a>
    {% else %}
        Les inscriptions ne sont pas ouvertes pour le moment. </br>
        <a href=" {{ path("updated") }} " class="btn btn-secondary"> Me tenir au courant</a>
    {% endif %}
  </div>
</div>

{% block javascripts %}
<script src=" {{ asset('build/public.js') }}"></script>
<script>
$(document).ready(function() {
	if ($(window).width() < 550) {
 	   var noMobile = document.querySelectorAll('.mobile-menu-change'),
    	i = 0,
    	l = noMobile.length;

  		for (i; i < l; i++) {
        	  $('.mobile-menu-row').append(noMobile[i]);
  		}
    }
});
</script>
{% endblock %}

{% endblock %}
