{% extends 'base.html.twig' %}

{% block title %}
  Page d'accueil
{% endblock %}

{% block topmenu %}
<!-- Top menu for the public -->
<!-- Test if the page is active to set the button correclty -->
  {% set route = app.request.attributes.get("_route") %}
  <a href={{ path('homepage') }} class="btn btn-primary {% if 'homepage' == route %} active {% endif %}"> <i class="fas fa-home"></i> Accueil</a>
  <a href={{ path('aboutus') }} class="btn btn-primary {% if 'aboutus' == route %} active {% endif %}">À propos</a>
  <a href={{ path('regulation') }} class="btn btn-primary {% if 'regulation' == route %} active {% endif %}">Règlement</a>
  <a href={{ path('gallery') }} class="btn btn-primary {% if 'gallery' == route %} active {% endif %}">Gallerie</a>
  <a href={{ path('training') }} class="btn btn-primary {% if 'training' == route %} active {% endif %}">S'entraîner</a>
{% endblock %}

{% block body %}
<h3> Concours de mathématiques Pangea </h3>

Informations du concours:

<ul>
  <li> Inscription date: {{ inscriptionD }} </li>
  <li> Individual date: {{ indivD }} </li>
  <li> Individual location: {{ competition.individualLocation }} </li>
  <li> Competition Start Date: {{ competSD }} </li>
  <li> Competition End Date: {{ competED }} </li>
</ul>


Informations to display
{% endblock %}
