{% extends 'homepage.html.twig' %}

{% block title %}
  Page de gallerie de quiz
{% endblock %}

{% block body %}

Voici les fichiers recensant les quizs des années précédentes ainsi que les réponses de ceux-ci:

  <h1> Quizs de l'école primaire </h1>
  <ul>
    {% for quiz in primary_quizs %}
      <li> <a href=" {{ asset("uploads/previous_quiz/" ~ quiz.quiz) }}" class="quiz_link">Quiz de {{quiz.yearOfQuiz}} pour les {{ difficulty[quiz.difficulty-1] }} </a> </li>
    {% endfor %}
  </ul>

  <h1> Quizs de l'école secondaire </h1>
  <ul>
    {% for quiz in secondary_quizs %}
    <li> <a href=" {{ asset("uploads/previous_quiz/" ~ quiz.quiz) }}" class="quiz_link">Quiz de {{quiz.yearOfQuiz}} pour les {{ difficulty[quiz.difficulty-1] }} </a> </li>
    {% endfor %}
  </ul>
{% endblock %}
