{% extends 'homepage.html.twig' %}

{% block title %}
  Page d'entraînement
{% endblock %}


{% form_theme form _self %}

{% block checkbox_widget %}
{% spaceless %}
<label class="btn btn-light w-100 form-check-label">
  <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} class="form-check-input"/>
  {% if label is defined %} {{ label|raw }} {% endif %}
</label>
{% endspaceless %}
{% endblock checkbox_widget %}

{% block body %}



{% for flashMessage in app.session.flashbag.get('error') %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{ flashMessage|raw }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ flashMessage|raw }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}

{% set question_cmpt = 0 %}

<h1> Training section </h1>

{{form_start(form)}}

{% for client_answer in form.client_answers %}
    <h2> Question n° {{question_cmpt + 1}}: {{quiz.questions[question_cmpt].question}} </h2>
    <div class='stars'>
      {% for star in 1 .. quiz.questions[question_cmpt].difficulty %}
        <i class="fas fa-star"></i>
      {% endfor %}
    </div>
    {% if quiz.questions[question_cmpt].image is not null %}
      <img src=" {{ asset('uploads/question_images/' ~ quiz.questions[question_cmpt].image) }} " alt="Question Image">
    {% endif %}

    <div class="btn-group btn-group-toggle d-flex answers" data-toggle="buttons">
    {% for answer in client_answer.answers %}
        {{form_widget(answer)}}
    {% endfor %}
    </div>
    {% set question_cmpt = question_cmpt + 1 %}
{% endfor %}

<div class='d-flex'>
  <div class='col'>
    <a href={{ path('correction', {'id': quiz.id}) }} class="btn btn-warning">Voir la correction</a>
  </div>
  <div class='col'>
    {{form_row(form.send)}}
  </div>
</div>

{{form_end(form)}}

{% block javascripts %}

<script src="{{asset("build/button-toggle.js")}}"></script>
{{ parent() }}

{% endblock %}

{% endblock %}
