
{% extends 'homepage.html.twig' %}

{% block title %}
  Page d'inscription aux informations
{% endblock %}

{% block body %}

{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ flashMessage|raw }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}

<!-- Keep me updated form -->
<h1>Être tenu au courant</h1>
{{form_start(form)}}

{{form_row(form.surname)}}
{{form_row(form.name)}}
{{form_row(form.email)}}
Veuillez accepter les <a href={{ path('usage_conditions') }}>CGU</a> pour être tenu au courant.
{{form_row(form.termsAccepted)}}

{{form_end(form)}}

{% endblock %}
